html{
  background-color: wheat;

}

*{
    margin-left: 15px;
    margin-right: 15px;
  }
  body {
    width: 80%;    /* A4 width */ 
    margin: 10%;       /* Optional: Remove default margin */
    padding: 10% ;   /* Optional: Add padding for internal spacing */
    box-sizing: border-box; /* Ensure padding is included in the width/height */
    
    /* Optional: Add styling to resemble a printed sheet */
    background-color: whitesmoke;
    border: 1px solid #ddd;   /* Simulate a page border */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);  /* Light shadow to create a paper-like effect */
  }

h1{
    color: purple;
    text-align: center;
    font-family: sans-serif;
    font-weight: bolt;
}

h2{
    margin-top: -10px;
    color: green;
    text-align: center;
}

h3{
    color: grey;
}


  
#id-selector-demo{
    color: green;
  }
  
li{
    color: rgb(86, 117, 58);
    font-size: 15px;
    margin-top: 10px;
  }

  .job{
  margin-top: -20px;
  color: rgb(138, 87, 185);
  font-size: 15px;
  font-style: sans-sherif;
}

strong{
  color: black;
}

.detail-link{
  margin-top: -15px;
  font-size: 15px;
  font-style: sans-sherif;
}


/* *{
    color: red;
    text-align: center;
  }
  #ol {
    margin-left: -40px;
    margin-top: -20px;
    list-style-position: inside;
  }
.note{
    font-size: 20px;
  }  
h3{
  color: red;
  font-size: large;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bolt;
} */
