div{
    margin-left: 25%;
    width: 50%;
    margin-top: 100px;
    color:white;
    text-align: center;
}

img{
    border: 5px solid white;
    width: 100%;
}

h1{
    size: 3rem;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
  }

body{
    background-color: black;
}
